<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns is-mobile is-centered">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <a class="tag is-link" style="background-color: #000000d6;" target="_blank" href="https://github.com/batTrung?tab=repositories">My Github</a>
              <span class="tag is-light"> &nbsp;<i class="fa fa-github"></i></span>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons">
              <a class="tag is-link" style="background-color: #000000d6;" target="_blank" href="https://djangobat.com">Blog Học Django</a>
              <span class="tag is-light">djangobat</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>