{% load static %}
<nav class="navbar is-white topNav">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'home' %}">
        <img src="{% static 'img/poster.png' %}" width="150" height="44">
      </a>
      <div class="navbar-burger burger" data-target="topNav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    
    <div id="topNav" class="navbar-menu">

      <div class="navbar-end">
        <div class="navbar-item">
          {% if not request.user.is_authenticated %}
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-small" href="">
                <span class="icon">
                  <i class="fa fa-user-plus"></i>
                </span>
                <span>
                  Đăng ký
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-small is-info is-outlined" href="{% url 'login' %}">
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <span>Đăng nhập</span>
              </a>
            </p>
          </div>
          {% else %}
          <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Tài khoản</a>
              <div class="navbar-dropdown">
                  <a class="navbar-item" href="{% url 'logout' %}">Đăng xuất</a>
              </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>