{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
   Bài số 7
{% endblock title %}

{% block question %}
<tr>
	<td>Tên bài:</td>
	<td>Thuật toán mã hóa Hufman</td>
</tr>
<tr>
	<td>Input:</td>
	<td>1 File văn bản dạng txt</td>
</tr>
<tr>
	<td>Output:</td>
	<td>1 File đã được mã hóa. So sánh kích thước trước và sau khi mã hóa</td>
</tr>
<tr>
	<td>Gợi ý:</td>
	<td>Sử dụng cây <a href="https://vi.wikipedia.org/wiki/M%C3%A3_h%C3%B3a_Huffman">Huffman</a></td>
</tr>
{% endblock question %}
{% block content %}

<div class="column has-text-centered is-12">
	<div id="grid" class="has-text-centered">

	</div>
    <div class="card-content has-text-centered">
      <div class="content has-text-centered">

      	<label class="label">Nơi đi</label>
      	<div class="field is-horizontal">
			<div class="field-body">
				<div class="field">
		    		<div class="control has-icons-right has-icons-left ">
		    			<input id="myloca" class="input is-primary" type="text" placeholder="Tìm địa chỉ của bạn">
		    			<span class="icon is-small is-left">
			      			<i class="fa fa-street-view icon has-text-danger"></i>
			    		</span>
				    	<span class="icon is-small is-right">
					      <i class="fa fa-search"></i>
					    </span>
		  			</div>

		   		</div>
			    <div class="field has-text-centered">
			    	<a id="findloca" class="button is-warning">
				    	<span class="icon">
				      		<i class="fa fa-street-view icon has-text-danger"></i>
				    	</span>
				    	<span>Tự tìm vị trí</span>
			  		</a>
			    </div>
		  	</div>
		</div>

		<div class="field has-text-centered">
		  <div class="file is-info has-name">
		      <input class="file-input" type="file" name="resume">
		      <span class="file-cta" id='js-upload'>
		        <span class="file-icon">
		          <i class="fa fa-upload"></i>
		        </span>
		        <span class="file-label">
		          Upload File JSON
		        </span>
		      </span>
		      <span id='show-file' class="file-name">
		      </span>
		  </div>
		</div>
		
		<div class="field is-horizontal">
		  <div class="field-body">
		    <div class="field">
		      <p class="control is-expanded">
		        <input id="k" class="input" type="text" placeholder="Nhập số nhà hàng cần tìm">
		      </p>
		    </div>
		    <div class="field">
			  <button id="submit" data-url="{% url "ajax_get_points" %}" class="button is-warning">
			  	Tìm kiếm 
			  </button>
			</div>
		  </div>
		</div>

      </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "js/d3.v5.min.js" %}"></script>
<script>
	
</script>
{% endblock scripts %}