{% extends "base.html" %}
{% load static %}

{% block title %}
   Taxi App
{% endblock title %}

{% block content %}

<div class="column is-offset-one-quarter  is-6">
  <div class="card is-shady" style="padding: 0.25rem;">
    <div id="map">

    </div>
    <div class="card-content">
      <div class="content">

      	<label class="label">Nơi đi</label>
      	<div class="field is-horizontal">
			<div class="field-body">
				<div class="field">
		    		<div class="control has-icons-right has-icons-left ">
		    			<input id="myloca" class="input is-primary" type="text" placeholder="Tìm địa chỉ của bạn">
		    			<span class="icon is-small is-left">
			      			<i class="fa fa-street-view icon has-text-danger"></i>
			    		</span>
				    	<span class="icon is-small is-right">
					      <i class="fa fa-search"></i>
					    </span>
		  			</div>

		   		</div>
			    <div class="field">
			    	<a id="findloca" class="button is-warning">
				    	<span class="icon">
				      		<i class="fa fa-street-view icon has-text-danger"></i>
				    	</span>
				    	<span>Tự tìm vị trí</span>
			  		</a>
			    </div>
		  	</div>
		</div>
		
		<div class="field">
		  <label class="label">Nơi đến</label>
		  <div class="control has-icons-left has-icons-right">
		    <input id="to" class="input is-primary" type="text" placeholder="Bạn muốn đến đâu?">
		    <span class="icon is-small is-left has-text-warning">
		      <i class="fa fa-map-marker"></i>
		    </span>
		    <span class="icon is-small is-right">
		      <i class="fa fa-search"></i>
		    </span>
		  </div>
		  <p class="help is-danger">Trường này là bắt buộc</p>
		</div>
		<div class="field">
		  <p class="control">
		    <button class="button is-warning is-loading">
		      Đặt xe
		    </button>
		  </p>
		</div>
      
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
	<script src="{% static "js/orders/map.js" %}"></script>
{% endblock scripts %}